
/Arquivo
/Sistema-ces-EXE/JavaApplication2/nbproject/private/
/Sistema-ces-EXE/JavaApplication2/build/
/Sistema-ces-EXE/JavaApplication2/dist/
/Exer-Persistencia/CRUD-2019/nbproject/private/
/Exer-Persistencia/CRUD-2019/build/
/Exer-Persistencia/JavaApplication5/nbproject/private/
/Exer-Persistencia/CRUD-2019 - Cópia/build/
/Exer-Persistencia/CRUD-2019 - Cópia/nbproject/private/
/Exer-Persistencia/CRUD-2019-Org-Arq-MVC/build/
/Exer-Persistencia/CRUD-2019-Org-Arq-MVC/nbproject/private/